{% extends 'base.html' %}
{% block title %}Task Create{% endblock %}
{% block menu %}{% endblock %}
{% block content %}
<div class="container-fluid">
    <br>
    <h3>Создать задачу</h3>
    <br>
    <form action="/todolist/add" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Описание:</label>
            <input type="text" name="description" class="form-control" id="exampleFormControlInput1" required>
        </div>
        <label>Статус:</label><br/>
        <select class="form-select" name="status" aria-label="Default select example" required>
            {% for choice in choices %}
            <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
            {% endfor %}
        </select>
        <br>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Дата выполнения:</label>
            <input type="date" name="action_date" class="form-control" id="exampleFormControlInput1" value="2023-01-01">
        </div>
        <input type="submit" value="Создать"/>
    </form>
</div>
{% endblock %}
