<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="../../static/media/ToDoList-icon.jpg" alt="" width="30" height="24"
                 class="d-inline-block align-text-top">
            To-Do list
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/tasks_view">Задачи</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <br>
    <h3>Создать задачу</h3>
    <br>
    <form action="/todolist/add" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Описание:</label>
            <input type="text" name="description" class="form-control" id="exampleFormControlInput1" required>
        </div>
        <label>Статус:</label><br/>
        <select class="form-select" name="status" aria-label="Default select example" required>
            {% for choice in choices %}
            <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
            {% endfor %}
        </select>
        <br>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Дата выполнения:</label>
            <input type="date" name="action_date" class="form-control" id="exampleFormControlInput1" value="2023-01-01">
        </div>
        <input type="submit" value="Создать"/>
    </form>
</div>
</body>
</html>
