{% extends 'base.html' %}
{% block title %}Task Details{% endblock %}
{% block content_heading %}Подробное описание{% endblock %}
{% block content %}
<div class="container-fluid">
    <br>
    <div class="page_action">
        <a href="{% url 'task_edit' task.pk %}" class="btn btn-secondary">Редактировать задачу</a>
    </div>
    <br>
    <div class="card pb-3">
        <div class="card-header view_detail">
            <h5>Задача #{{ task.id }}</h5>
        </div>
        <div class="card-body">
            <p class="card-text"><b>Описание:</b> {{ task.description }}</p>
            {% if task.detailed_description %}
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"><b>Подробное описание:</b></label>
                <pre>{{ task.detailed_description }}</pre>
            </div>
            {% else %}
            <p class="card-text"><b>Подробное описание:</b> не добавлено</p>
            {% endif %}
            {% for choice in choices %}
            {% if choice.0 == task.status %}
            <p class="card-text"><b>Статус:</b> {{ choice.1 }}</p>
            {% endif %}
            {% endfor %}
            <p class="card-text"><b>Дата выполнения:</b> {{ task.action_date }}</p>
        </div>
    </div>
    <div class="task-details-return-button pt-3">
        <a href="{% url 'tasks_view' %}" class="btn btn-primary">Назад</a>
    </div>
</div>
{% endblock %}
